.wildwest{
	width: 100%;
	height: 800px;
	position: relative;
}
.tumbleweed{
	width: 75px;
	position: absolute;
	bottom: 5px;
	right: 10px;
	animation: tumbleweed 5s steps(5, end) infinite;
}
.basket{
	position: absolute;
	width: 150px;
	right: 5px;
	bottom: 250px;
}
.tom{
	width: 200px;
	position: absolute;
	left: 100px;
	bottom: 0;
	animation: tom 5s linear infinite;
}
.jerry{
	width: 100px;
	position: absolute;
	bottom: 30px;
	right: 300px;
}
.spaceship{
	position: absolute;
	width: 50px;
	top: 100px;
	right: 750px;
	animation: spaceship 3s linear infinite ;
}
.cloud{
	width: 100px;
	position: absolute;
	left: 30px;
	top: 30px

}